body {
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.header{
  padding: 10px 10px;
  align-items: center;
  justify-content: space-between;
}

header nav a{
  color: black;
  padding-right: 15px;
  text-decoration: none;
  font-weight: bold;

}

header #bars{
  display: none;
}

@media (max-width: 100px){
  header #bars{
      display: block;
      margin-right: 20px;
  }
  header nav{
      display:none;
  }
}

.banner__container{
  background-image: url("../imgs/melbourne.jpg");
  height: 600px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-size: cover;
  margin-top: 10px;
}

.banner__container .contain1{
  margin: 400px;
}

.banner__container h1{
  color: white;
  font-size: 60px;
  filter: brightness(100%);
}

.banner__container h3{
  color: white;
  filter: brightness(100%);
  margin-top: 10px;
}

.banner__container .button{
  background-color: tomato;
  filter: brightness(100%);
  padding-top: 15px;
  padding-left: 20px;
  margin: 20px;
  text-align: center;
  border-radius: 5px;

}
.banner__container nav a{
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.contain2{
  display: grid;
  background-color: whitesmoke;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 15px 10px;
}

.item h4{
  padding-bottom: 35px;
  font-size: 20px;
}

.contain2 div{
  border: 1px solid lightgray;
}

.contain2 div h3{
  margin: 1px 1px;
}

.contain2 div div{
  background-color: white;

}

@media (min-width: 320px) {
  .grid {
    grid-template-columns:repeat(2 1fr);
  }
  }
  
  @media (min-width: 320px) and (max-width: 500px){
  .grid {
    grid-template-columns: 1fr;
  }
  }

.contain3{
  margin-top: 30px;
  margin: 20px 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contain3 .item h3{
  font-size: 40px;
}

.contain3 .item h4{
  font-size: 15px;
  padding-left: 5px;
  margin-top: 25px;
}

.container  {
  justify-content: center;
  align-content: center;
  text-align: center;
  display: flex;
}

.container .item1{
  margin:10px;
  background-color: lightgray;
}
.container .item2{
  margin:10px;
  background-color: lightgray;
}
.container .item3{
  margin:10px;
  background-color: lightgray;
}

.grid3{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.pic1{
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/fitzroy.jpg");
  height: 300px;
  color: white;
}
.pic2{
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/st-kilda.jpg");
  height: 300px;
  color: white;
}
.pic3{
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/central-business-district.jpg");
  height: 300px;
  color: white;
}



.button1{
  font-family: 'Nunito', Arial, sans-serif;
  color: white;
  display: inline-block;
  background-color: #e43636;
  padding: 0.5rem 2rem;
  text-decoration : none;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 220px;
  text-align: center;
  margin-left: 510px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0 2px red;
}

.button1 a{
  text-decoration: none;
  color: white;
  padding-left: 520px;
 
}

footer{
  background-color: black;
  color: white;
  align-items: center;
  padding: 100px;
  justify-content: center;
}

/*
banner image
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/melbourne.jpg


https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/fitzroy.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/st-kilda.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/central-business-district.jpg

*/
/**
For banner over lay add this class to your div
<div class="banner__container">
  <div>
      <!-- content goes here -->
  </div>
</div>
*/
.banner__container {
  position: relative;

}

.banner__container:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  content: "";
}
